<% if(success.length){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Successfully!</strong> <%=success%>
        
    </div>
<%}%>
<% if(error.length){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> <%=error%>
        
    </div>
<%}%>